@import "tailwindcss";

@theme {
  --color-bg-primary: #fafafa;
  --color-surface-card: #fbfaf4;
  --color-accent: #c8d984;
  --color-accent-subtle: #dbe3ca;
  --color-lime-100: #eef2e2;

  --color-text-primary: #263a2f;
  --color-text-accent: #3e624c;
  --color-text-secondary: #69786c;
  --color-text-body: #526258;
  --color-green-300: #8a9b8e;

  --color-border-subtle: #dbe3ca;
  --color-border-black: #00000014;
}

@theme inline {
  --font-sora: var(--font-sora);
  --font-figtree: var(--font-figtree);
}

body {
  background: var(--color-bg-primary);
}
